body {
	height: 100%; /* Полная высота для html и body */
	margin: 0; /* Убираем стандартные отступы */
	padding: 0; /* Убираем стандартные отступы */
	font-family: Arial, sans-serif; /* Шрифт по умолчанию */
	background-color: #f0f0f0; /* Светлый фон для страницы */
	color: #333; /* Цвет текста по умолчанию */
}
